In [ ]:
# импорт модулей
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Описание

Библиотека Pandas - важный инструмент, с которым мы будем активно работать на курсе. Pandas
 это модуль для первичной обработки данных, с помощью которого можно провести простой обзор и подготовку данных к дальнейшему интеллектуальному анализу. Основные возможности:

удобное чтение и запись данных из многих источников, начиная от текстовых (txt, csv, json, html), бинарных (Excel, Open Document, Msgpack, HDF5) и SQL форматов (PostgreSQL, MySQL, SQLite, Google BigQuery) до автоматизации обращений к популярным веб-ресурсам (Eurostat, World Bank, Nasdaq, MOEX, ...) с базовым внутренним представлением в виде датафреймов (двумерных индексированных массивов)
удобная предобработка (убрать пропуски, переформатировать, объединить, переиндексировать и сделать срез по индексу)
слияние и конкатенация
поиск, сортировка, выборка объектов, удовлетворяющих заданным критериям
визуализация данных

<pre>
Сегодня мы начнём работать c pandas. Pandas это самый популярный инструмент для работы с данными. Цель семинара – познакомить вас
с основными конструкциями pandas и научить им пользоваться.
Почему pandas удобный?
1.	Удобное представление таблиц и куча готовых методов как работать с этими таблицами
2.	Простота использования
3.	Наличие встроенных визуализаций
4.	Наличие всех функций из excel и даже больше
5.	Универсальность инструмента, можно читать почти все табличные типы данных
6.	Хорошо подходит для экспериментов с данными
А почему он не удобный?
1.	Медленный
2.	Нельзя чаще всего использовать в проде из-за скорости
3.	Иногда сложно интерпретировать код написанный на pandas
</pre>

### Поработаем с несколькими небольшими датасетами

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/seminars/sem03_pandas/grades.csv", sep=",", index_col=0)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'hash',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [6]:
df

          hash    0    1    2    3    4    5    6    7    8
0   cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1   caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3   3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4   bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   7ca01c996f  0.5  0.8  0.5  0.5  0.0  0.0  0.0  0.0  0.0
6   2a5a018502  0.9  1.0  1.0  1.0  0.8  0.0  0.5  0.0  0.7
7   99fe117fcb  0.8  0.0  1.0  0.9  1.0  1.0  0.5  0.0  0.0
8   6875ba52f0  0.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
9   1eea619f12  0.8  1.0  0.0  0.2  0.5  0.2  0.0  0.0  0.2
10  f9f854aa44  1.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
11  6346ddfdb5  0.0  1.0  1.0  0.0  0.5  0.0  0.5  0.0  0.7
12  b5c2ae4623  0.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  0.6
13  15360bcc4c  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  a2d96fe1d4  0.0  0.7  1.0  1.0  0.0  0.0  0.0  0.0  0.0
15  7174532c74  0.2  0.9  1.0  1.0  1.0  0.0  0.0  0.0  0.0
16  426dfedb85  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
17  bae2523189  0.8  1.0  0.5  1.0  0.5  0.5  0.5  0.0  0.6
18  5a0a06b184  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
19  789d9f4f97  0.0  1.0  0.8  1.0  0.0  0.0  0.5  0.0  0.0
20  6588f97aea  0.0  0.6  1.0  1.0  1.0  0.5  0.0  0.0  0.7
21  b7235befa9  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
22  ca49cc7265  0.8  0.9  0.0  0.0  0.5  0.5  0.0  1.0  0.6
23  6134e7ea6f  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.0  0.7
24  8f67295cb3  0.8  1.0  1.0  0.0  0.5  0.0  0.0  0.0  0.7
25  cb9dfc5d66  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.9  0.7
26  d7955cb7bc  0.0  0.7  1.0  1.0  0.0  0.5  0.0  0.0  0.0
27  237fe82b6f  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
28  b8132ed8db  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.0
29  80a4f796b4  0.5  0.2  1.0  1.0  0.5  0.2  0.5  0.0  0.2
30  403978747a  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
31  33979cb9cb  0.8  1.0  0.7  1.0  0.5  0.2  0.0  0.0  0.7
32  e342391d26  0.0  0.8  0.0  0.7  0.5  0.0  0.0  0.0  0.0
33  c11c124eb9  0.0  1.0  1.0  0.8  0.5  0.5  0.0  0.0  0.7
34  8b4c1af94b  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
35  e1388f2aae  0.0  0.5  0.0  0.0  0.0  0.0  0.0  0.0  0.0
36  ee55242421  0.8  1.0  0.0  0.7  0.0  1.0  0.0  0.9  0.0
37  d6c40a7f4b  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [8]:
# вывести голову таблицы
df.head(10)

         hash    0    1    2    3    4    5    6    7    8
0  cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1  caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2  5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3  3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4  bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5  7ca01c996f  0.5  0.8  0.5  0.5  0.0  0.0  0.0  0.0  0.0
6  2a5a018502  0.9  1.0  1.0  1.0  0.8  0.0  0.5  0.0  0.7
7  99fe117fcb  0.8  0.0  1.0  0.9  1.0  1.0  0.5  0.0  0.0
8  6875ba52f0  0.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
9  1eea619f12  0.8  1.0  0.0  0.2  0.5  0.2  0.0  0.0  0.2

In [9]:
# вывести хвост таблицы
df.tail(7)

          hash    0    1    2    3    4    5    6    7    8
31  33979cb9cb  0.8  1.0  0.7  1.0  0.5  0.2  0.0  0.0  0.7
32  e342391d26  0.0  0.8  0.0  0.7  0.5  0.0  0.0  0.0  0.0
33  c11c124eb9  0.0  1.0  1.0  0.8  0.5  0.5  0.0  0.0  0.7
34  8b4c1af94b  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
35  e1388f2aae  0.0  0.5  0.0  0.0  0.0  0.0  0.0  0.0  0.0
36  ee55242421  0.8  1.0  0.0  0.7  0.0  1.0  0.0  0.9  0.0
37  d6c40a7f4b  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [10]:
# выбрать 5 случайных строк
df.sample(n=5)

          hash    0    1    2    3    4    5    6    7    8
8   6875ba52f0  0.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
27  237fe82b6f  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  6346ddfdb5  0.0  1.0  1.0  0.0  0.5  0.0  0.5  0.0  0.7
23  6134e7ea6f  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.0  0.7
22  ca49cc7265  0.8  0.9  0.0  0.0  0.5  0.5  0.0  1.0  0.6

In [11]:
# выбрать 30% случайных строк
df.sample(frac=0.3)

          hash    0    1    2    3    4    5    6    7    8
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
4   bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20  6588f97aea  0.0  0.6  1.0  1.0  1.0  0.5  0.0  0.0  0.7
6   2a5a018502  0.9  1.0  1.0  1.0  0.8  0.0  0.5  0.0  0.7
27  237fe82b6f  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
30  403978747a  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
18  5a0a06b184  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
31  33979cb9cb  0.8  1.0  0.7  1.0  0.5  0.2  0.0  0.0  0.7
22  ca49cc7265  0.8  0.9  0.0  0.0  0.5  0.5  0.0  1.0  0.6
7   99fe117fcb  0.8  0.0  1.0  0.9  1.0  1.0  0.5  0.0  0.0
26  d7955cb7bc  0.0  0.7  1.0  1.0  0.0  0.5  0.0  0.0  0.0

In [12]:
# выбрать 5 строк с наибольшими значениями в столбцах '3', '4'
df.nlargest(n=10, columns=["3", "4"])

          hash    0    1    2    3    4    5    6    7    8
0   cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
15  7174532c74  0.2  0.9  1.0  1.0  1.0  0.0  0.0  0.0  0.0
20  6588f97aea  0.0  0.6  1.0  1.0  1.0  0.5  0.0  0.0  0.7
6   2a5a018502  0.9  1.0  1.0  1.0  0.8  0.0  0.5  0.0  0.7
3   3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
17  bae2523189  0.8  1.0  0.5  1.0  0.5  0.5  0.5  0.0  0.6
21  b7235befa9  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
23  6134e7ea6f  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.0  0.7
25  cb9dfc5d66  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.9  0.7

In [13]:
# подсчитать количество уникальных значений в столбце 3
df["3"].nunique()

7

In [14]:
df["4"].nunique()

4

In [17]:
# подсчитать сколько раз встретилось в столбце '3' каждое уникальное значение
df["3"].value_counts()

1.0    20
0.0     8
0.7     4
0.5     3
0.9     1
0.2     1
0.8     1
Name: 3, dtype: int64

In [18]:
df["4"].value_counts()

0.5    18
0.0    14
1.0     5
0.8     1
Name: 4, dtype: int64

In [19]:
df

          hash    0    1    2    3    4    5    6    7    8
0   cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1   caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3   3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4   bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   7ca01c996f  0.5  0.8  0.5  0.5  0.0  0.0  0.0  0.0  0.0
6   2a5a018502  0.9  1.0  1.0  1.0  0.8  0.0  0.5  0.0  0.7
7   99fe117fcb  0.8  0.0  1.0  0.9  1.0  1.0  0.5  0.0  0.0
8   6875ba52f0  0.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
9   1eea619f12  0.8  1.0  0.0  0.2  0.5  0.2  0.0  0.0  0.2
10  f9f854aa44  1.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
11  6346ddfdb5  0.0  1.0  1.0  0.0  0.5  0.0  0.5  0.0  0.7
12  b5c2ae4623  0.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  0.6
13  15360bcc4c  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  a2d96fe1d4  0.0  0.7  1.0  1.0  0.0  0.0  0.0  0.0  0.0
15  7174532c74  0.2  0.9  1.0  1.0  1.0  0.0  0.0  0.0  0.0
16  426dfedb85  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
17  bae2523189  0.8  1.0  0.5  1.0  0.5  0.5  0.5  0.0  0.6
18  5a0a06b184  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
19  789d9f4f97  0.0  1.0  0.8  1.0  0.0  0.0  0.5  0.0  0.0
20  6588f97aea  0.0  0.6  1.0  1.0  1.0  0.5  0.0  0.0  0.7
21  b7235befa9  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
22  ca49cc7265  0.8  0.9  0.0  0.0  0.5  0.5  0.0  1.0  0.6
23  6134e7ea6f  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.0  0.7
24  8f67295cb3  0.8  1.0  1.0  0.0  0.5  0.0  0.0  0.0  0.7
25  cb9dfc5d66  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.9  0.7
26  d7955cb7bc  0.0  0.7  1.0  1.0  0.0  0.5  0.0  0.0  0.0
27  237fe82b6f  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
28  b8132ed8db  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.0
29  80a4f796b4  0.5  0.2  1.0  1.0  0.5  0.2  0.5  0.0  0.2
30  403978747a  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
31  33979cb9cb  0.8  1.0  0.7  1.0  0.5  0.2  0.0  0.0  0.7
32  e342391d26  0.0  0.8  0.0  0.7  0.5  0.0  0.0  0.0  0.0
33  c11c124eb9  0.0  1.0  1.0  0.8  0.5  0.5  0.0  0.0  0.7
34  8b4c1af94b  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
35  e1388f2aae  0.0  0.5  0.0  0.0  0.0  0.0  0.0  0.0  0.0
36  ee55242421  0.8  1.0  0.0  0.7  0.0  1.0  0.0  0.9  0.0
37  d6c40a7f4b  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [22]:
df[:32:-1]

          hash    0    1    2    3    4    5    6    7    8
37  d6c40a7f4b  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
36  ee55242421  0.8  1.0  0.0  0.7  0.0  1.0  0.0  0.9  0.0
35  e1388f2aae  0.0  0.5  0.0  0.0  0.0  0.0  0.0  0.0  0.0
34  8b4c1af94b  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
33  c11c124eb9  0.0  1.0  1.0  0.8  0.5  0.5  0.0  0.0  0.7

In [23]:
# склеить две таблицы по строкам
df1 = df[:5]
df2 = df[10:15]
dfres = pd.concat([df1, df2])

In [24]:
dfres

          hash    0    1    2    3    4    5    6    7    8
0   cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1   caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3   3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4   bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  f9f854aa44  1.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
11  6346ddfdb5  0.0  1.0  1.0  0.0  0.5  0.0  0.5  0.0  0.7
12  b5c2ae4623  0.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  0.6
13  15360bcc4c  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  a2d96fe1d4  0.0  0.7  1.0  1.0  0.0  0.0  0.0  0.0  0.0

In [25]:
df1

         hash    0    1    2    3    4    5    6    7    8
0  cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1  caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2  5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3  3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4  bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [31]:
df2[::]

          hash    0    1    2    3    4    5    6    7    8
10  f9f854aa44  1.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
11  6346ddfdb5  0.0  1.0  1.0  0.0  0.5  0.0  0.5  0.0  0.7
12  b5c2ae4623  0.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  0.6
13  15360bcc4c  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  a2d96fe1d4  0.0  0.7  1.0  1.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
df1 = df[hash=="caa93590ad", hash=="3f187965b9", hash=="bf1e56e185"]
df1

In [34]:
df[["hash", "5"]]

          hash    5
0   cbe32a2a1b  1.0
1   caa93590ad  0.0
2   5bbe47f96d  0.0
3   3f187965b9  0.0
4   bf1e56e185  0.0
5   7ca01c996f  0.0
6   2a5a018502  0.0
7   99fe117fcb  1.0
8   6875ba52f0  0.0
9   1eea619f12  0.2
10  f9f854aa44  0.0
11  6346ddfdb5  0.0
12  b5c2ae4623  1.0
13  15360bcc4c  0.0
14  a2d96fe1d4  0.0
15  7174532c74  0.0
16  426dfedb85  0.0
17  bae2523189  0.5
18  5a0a06b184  0.0
19  789d9f4f97  0.0
20  6588f97aea  0.5
21  b7235befa9  0.0
22  ca49cc7265  0.5
23  6134e7ea6f  0.2
24  8f67295cb3  0.0
25  cb9dfc5d66  0.2
26  d7955cb7bc  0.5
27  237fe82b6f  0.0
28  b8132ed8db  0.0
29  80a4f796b4  0.2
30  403978747a  0.0
31  33979cb9cb  0.2
32  e342391d26  0.0
33  c11c124eb9  0.5
34  8b4c1af94b  0.0
35  e1388f2aae  0.0
36  ee55242421  1.0
37  d6c40a7f4b  0.0

In [ ]:
# склеить две таблицы по столбцам
df1 = df[["hash", "1"]]
df2 = df[["3", "4"]]
pd.concat([df1, df2], axis=1).head()

         hash    1    3    4
0  cbe32a2a1b  1.0  1.0  1.0
1  caa93590ad  0.2  0.7  0.0
2  5bbe47f96d  1.0  1.0  1.0
3  3f187965b9  0.0  1.0  0.5
4  bf1e56e185  0.0  0.0  0.0

### DataFrame.merge - объединение таблиц (аналог SQL: JOIN)

In [35]:
# таблица с оценками
df_grades = pd.read_csv("https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/seminars/sem03_pandas/grades.csv", index_col=0)
df_grades.head()

         hash    0    1    2    3    4    5    6    7    8
0  cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1  caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2  5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3  3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4  bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [36]:
df_hashes = pd.read_csv("https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/seminars/sem03_pandas/hashes.csv")
df_hashes.head()

    Группа     Фамилия      Имя     Отчество        hash
0  БПМ-161     Антонов  Алексей   Алексеевич  6875ba52f0
1  БПМ-161  Арсамакова    Алина  Ибрагимовна  7ca01c996f
2  БПМ-161     Богатов    Антон      Юрьевич  15360bcc4c
3  БПМ-161      Бычков   Андрей            -  f9f854aa44
4  БПМ-161    Высоцкий     Яков   Михайлович  1d1d05c257

In [37]:
df_grades.hash.nunique()

38

In [38]:
df_hashes.hash.nunique()

95

In [42]:
# присоединить подходящие строки из df_grades к df_hashes
df = pd.merge(df_hashes, df_grades, on="hash", how="left")
print(df.shape)
df.head(10)

(95, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
1,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
2,БПМ-161,Богатов,Антон,Юрьевич,15360bcc4c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,БПМ-161,Бычков,Андрей,-,f9f854aa44,1.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Высоцкий,Яков,Михайлович,1d1d05c257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,БПМ-161,Галигеров,Владислав,Сергеевич,738b683ed7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
7,БПМ-161,Городилов,Илья,Игоревич,6df2f31eb9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,БПМ-161,Дудинов,Тимур,Батырович,e1388f2aae,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,БПМ-161,Иванов,Артём,Владиславович,a2d96fe1d4,0.0,0.7,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [43]:
# присоединить подходящие строки из df_hashes к df_grades
df = pd.merge(df_hashes, df_grades, on="hash", how="right")
print(df.shape)
df.head(10)

(38, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-162,Сучков,Даниил,Викторович,cbe32a2a1b,0.8,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
1,БПМ-161,Хмельницкий,Даниил,Анатольевич,caa93590ad,0.2,0.2,0.9,0.7,0.0,0.0,0.0,0.0,0.0
2,БПМ-162,Углов,Егор,Алексеевич,5bbe47f96d,0.8,1.0,1.0,1.0,1.0,0.0,0.5,0.0,0.0
3,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Мартынов,Никита,Игоревич,bf1e56e185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
6,БПМ-162,Островский,Всеволод,Петрович,2a5a018502,0.9,1.0,1.0,1.0,0.8,0.0,0.5,0.0,0.7
7,БПМ-162,Борисычев,Александр,Сергеевич,99fe117fcb,0.8,0.0,1.0,0.9,1.0,1.0,0.5,0.0,0.0
8,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
9,БПМ-162,Лисицына,Анастасия,Сергеевна,1eea619f12,0.8,1.0,0.0,0.2,0.5,0.2,0.0,0.0,0.2

In [44]:
# пересечение таблиц
# в данном случае эквивалентно 'right', т.к. в df_grades нет таких хэшей, которые отсутствуют в df_hashes
df = pd.merge(df_hashes, df_grades, on="hash", how="inner")
print(df.shape)
df.head(10)

(38, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
1,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
2,БПМ-161,Богатов,Антон,Юрьевич,15360bcc4c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,БПМ-161,Бычков,Андрей,-,f9f854aa44,1.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
5,БПМ-161,Дудинов,Тимур,Батырович,e1388f2aae,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,БПМ-161,Иванов,Артём,Владиславович,a2d96fe1d4,0.0,0.7,1.0,1.0,0.0,0.0,0.0,0.0,0.0
7,БПМ-161,Кубышкина,Екатерина,Константиновна,6588f97aea,0.0,0.6,1.0,1.0,1.0,0.5,0.0,0.0,0.7
8,БПМ-161,Мартынов,Никита,Игоревич,bf1e56e185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,БПМ-161,Плешко,Георгий,Дмитриевич,5a0a06b184,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [45]:
# объединение таблиц
# в данном случае эквивалентно 'left', т.к. в df_grades нет таких хэшей, которые отсутствуют в df_hashes
df = pd.merge(df_hashes, df_grades, on="hash", how="outer")
print(df.shape)
df.head(10)

(95, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
1,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
2,БПМ-161,Богатов,Антон,Юрьевич,15360bcc4c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,БПМ-161,Бычков,Андрей,-,f9f854aa44,1.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Высоцкий,Яков,Михайлович,1d1d05c257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,БПМ-161,Галигеров,Владислав,Сергеевич,738b683ed7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
7,БПМ-161,Городилов,Илья,Игоревич,6df2f31eb9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,БПМ-161,Дудинов,Тимур,Батырович,e1388f2aae,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,БПМ-161,Иванов,Артём,Владиславович,a2d96fe1d4,0.0,0.7,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [46]:
type(df_hashes.hash)

pandas.core.series.Series

In [47]:
df_hashes.hash

0     6875ba52f0
1     7ca01c996f
2     15360bcc4c
3     f9f854aa44
4     1d1d05c257
         ...
90    5a44ca37d2
91    f2d63ba1da
92    5389cb6370
93    6311bbb17e
94    0a9d4d6207
Name: hash, Length: 95, dtype: object

In [49]:
10 in [2, 3, 5, 4]

False

In [50]:
df_hashes.hash.isin(df_grades.hash)

0      True
1      True
2      True
3      True
4     False
      ...
90    False
91    False
92    False
93    False
94    False
Name: hash, Length: 95, dtype: bool

In [ ]:
# выбрать из таблицы хэшей только те строки, в которых хэш есть в таблице оценок
# т.е. отобрать тех студентов, которые писали контрольную и были оценены
df = df_hashes[df_hashes.hash.isin(df_grades.hash)]
print(df.shape)
df.head()

(38, 5)

    Группа     Фамилия      Имя     Отчество        hash
0  БПМ-161     Антонов  Алексей   Алексеевич  6875ba52f0
1  БПМ-161  Арсамакова    Алина  Ибрагимовна  7ca01c996f
2  БПМ-161     Богатов    Антон      Юрьевич  15360bcc4c
3  БПМ-161      Бычков   Андрей            -  f9f854aa44
6  БПМ-161    Гончаров     Глеб     Игоревич  3f187965b9

In [58]:
type(df.Группа.unique())

numpy.ndarray

In [61]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 11, 27, 22, 2, 32, 405185)

In [52]:
# сколько человек из каждой группы были оценены?
df.Группа.value_counts()

БПМ-163    37
БПМ-161    30
БПМ-162    28
Name: Группа, dtype: int64

In [ ]:
df_hashes.Группа.value_counts()

БПМ-163    37
БПМ-161    30
БПМ-162    28
Name: Группа, dtype: int64

### DataFrame.groupby - группировка строк

In [53]:
# сгруппировать строки по столбцу '1'
gr = df_grades.groupby(by="1")
gr

In [ ]:
# какая средняя оценка (и ее дисперсия) за другие задачи у студентов, получивших конкретную оценку по задаче '1'?

In [54]:
gr.mean()

,0,2,3,4,5,6,7,8
1,,,,,,,,
0.0,0.133333,0.466667,0.483333,0.250000,0.166667,0.083333,0.000000,0.000000
0.2,0.300000,0.933333,0.800000,0.166667,0.066667,0.166667,0.000000,0.066667
0.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.6,0.000000,1.000000,1.000000,1.000000,0.500000,0.000000,0.000000,0.700000
0.7,0.000000,1.000000,1.000000,0.000000,0.250000,0.000000,0.000000,0.000000
0.8,0.250000,0.250000,0.600000,0.250000,0.000000,0.000000,0.000000,0.000000
0.9,0.500000,0.250000,0.500000,0.625000,0.125000,0.000000,0.250000,0.150000
1.0,0.594737,0.789474,0.773684,0.463158,0.252632,0.289474,0.094737,0.442105

In [ ]:
# дисперсия
gr.var()

,0,2,3,4,5,6,7,8
1,,,,,,,,
0.0,0.106667,0.266667,0.281667,0.175000,0.166667,0.041667,0.000000,0.000000
0.2,0.030000,0.003333,0.030000,0.083333,0.013333,0.083333,0.000000,0.013333
0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.7,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000
0.8,0.125000,0.125000,0.020000,0.125000,0.000000,0.000000,0.000000,0.000000
0.9,0.226667,0.250000,0.166667,0.062500,0.062500,0.000000,0.250000,0.090000
1.0,0.133860,0.140994,0.155380,0.086901,0.135965,0.064327,0.080526,0.108129

In [ ]:
# откуда взялись NaN?

In [ ]:
gr.get_group(0.9)

          hash    0    1    2    3    4    5    6    7    8
8   6875ba52f0  0.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
10  f9f854aa44  1.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
15  7174532c74  0.2  0.9  1.0  1.0  1.0  0.0  0.0  0.0  0.0
22  ca49cc7265  0.8  0.9  0.0  0.0  0.5  0.5  0.0  1.0  0.6